<!DOCTYPE html>
<html lang="en">
	<head>
		<title>scraping</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/app.js"></script>
        
	</head>

	<body>
        <div class="jumbotron">
            <div id="jumbotron-text">
            <h1>Positive News Scrape</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">All Articles</a>
                <a class="navbar-brand" href="/saved">Saved</a>
                <a class="navbar-brand" href="/scrape">Load More</a>
            </nav>
            <p>All news scraped from <i>https://www.positive.news/</i></p>
            </div>
            <img id="happy-flower" src="images/Happy-flower.jpg" />
        </div>
		{{{ body }}}
	</body>
</html>

<style>
    body {
        background-color: #FDEDEC;
        padding: 20px;
    }

    .jumbotron {
        background-color: lightyellow;
        border: 3px purple solid;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }

    .jumbotron a {
        font-size: 25px;
        text-decoration: underline;
    }

    h3 {
        text-decoration: underline;
    }

    #jumbotron-text {
        display: inline-block;
    }
    #happy-flower {
        display: inline-block;
    }
    
</style>

