<!DOCTYPE html>
<html lang="en">
	<head>
		<title>scraping</title>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/app.js"></script>
	</head>

	<body>
		{{{ body }}}
	</body>
</html>

