<!DOCTYPE html>
<html lang="en">
	<head>
		<title>scraping</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/app.js"></script>
        
	</head>

	<body>
        <div class="jumbotron">
            <h1>this is the jumbotron</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/">All Articles</a>
                <a class="navbar-brand" href="/saved">Saved</a>
                <a class="navbar-brand" href="/scrape">Load More</a>
            </nav>
        </div>
		{{{ body }}}
	</body>
</html>

